/* ---Counter---- */
#counter{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: var(--main-text-color);
}


.container{
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* kontener na Karty */
.contSong{
    display: none;
    height: 420px;
    /* max-width: 300px; */
}

.contImage{
    display: none;
    height: 420px;
    /* max-width: 300px; */
}

/* Pokazanie pierwszej karty */
#c0{
    display: block;
}

/* ------REPEAT------ */

.repeatCont button, .finishCont button{
    background-color: var(--main-button-color);
    color: var(--main-text-color); 
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    padding: 10px;
    border: none;
    /* box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5); */
}

.repeatCont button{
    margin-top: 50%;
}

.finishInfo{
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.finishCont{
    margin-top: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

}


