/* ---Counter---- */
#counter{
    text-align: center;
    font-size: 35px;
    margin: 10px;
    color: var(--white-text);
}


.container{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* kontener na Karty */
.contSong, .contImage{
    display: none;
    height: 460px;
    /* max-width: 300px; */
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.305);
}



/* Pokazanie pierwszej karty */
#c0{
    display: block;
}

/* ------REPEAT------ */

.repeatCont{
    width: 100vw;;
}

.repeatCont button, .finishCont button{
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    padding: 10px;
    border: none;
    margin: 0;
    width: 200px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.305);
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}

.repeatCont button{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);

}

.repeatCont button::before, .finishCont button::before{
    content: "";
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    width: 150%;
    height: 200px;
    transform: translate(-50%,-50%);
   
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.305);
    z-index: -1;
}

.finishInfo{
    color: var(--white-text);
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.finishCont{
    margin-top: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

}


