/* ---Counter---- */
#counter{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}


.container{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

/* kontener na Karty */
.contSong{
    display: none;
    height: 450px;
}

/* Pokazanie pierwszej karty */
#c0{
    display: block;
}

/* ------REPEAT------ */

.repeatCont button, .finishCont button{
    background-color: var(--main-button-color);; /* Jasny żółty */
    color: #000000; /* Szaro-niebieski */
    font-weight: 600;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 50px; 
    box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5);
}

.finishInfo{
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.menuBtn{
    background-color: var(--main-button-color);;
    color: rgb(10, 10, 90);
    font-weight: 600;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 50px; 
    box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5);

}
