/* First Page of card */
.firstPage{
    background-color: transparent;

}
.contSong{
    background-color: var(--card-color);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5);
}

.check{
    text-align: center;
    border: 1px solid black;
}

.next{
    background-color: var(--background-color); 
    color: var(--main-text-color); 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px; 
}

.firstPage .fa-rotate-left{
    font-size: 50px;
    color: var(--main-text-color);
}

.firstPage .fa-play, .firstPage .fa-pause{
    font-size: 150px;
    color: var(--card-color);
}

.firstPage .fa-play{
    transform: translateX(-5px);
}



.playBtn, .restartBtn{
    border: none;
    background-color: transparent;
}


.playBtn{
    box-shadow:none;
    width: 200px;
    height: 200px;
    background-color: var(--background-color);
    border-radius: 50%;
}

.playBtn .icon{
    width: 100%;
    box-shadow:none;
}

.restartBtn{
    width: 20%;
    box-shadow:none;
}

.restartBtn .icon{
    width: 100%;
}