/* Dodawanie Zestawu */
.birdContainer{
    width: 100%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.mySets{
    transition: all 0.25s ease;
}

/* Lista ptaków do wybrania */
.birdA{
    background-color: transparent;
    width: 90%;
    color:var(--main-text-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--main-text-color);
    position: relative;
}
.plus{
    position: absolute;
    right:10px;
    font-size: 30px;
    
}

#mySets .setList{
    background-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: none;
    border-radius: 0;
}

#mySets{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.birdHidden{
    width: 90%;
    color:rgba(248, 255, 248, 0.784);
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    padding: 10px;
    /* border-bottom: 1px solid var(--main-text-color); */
    display: none;
  
}

.inputContainer{
    display: block;
}


.inputName{
    text-align: center;
    font-size: 20px;
    color: var(--main-text-color);
}
.validationInput{
    display: none;
    text-align: center;
    color: rgba(251, 71, 51, 0.907);
}

/* Save */
#saveBtn{
    position:sticky;
    top: 0;
    color: var(--second-text-color);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.305);
    margin-bottom: 50px;
}

/* Input */
#nameOfSet{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(2px);
    border: 3px solid rgba(255, 255, 255, 0.305);
    color: white;
    font-size: 22px;
}

.addRemoveCont{
    height: 58px;
    background-color: transparent;
    position: relative;
}

.addNewSetBtn, .removeAllSetsBtn{
    background-color: transparent;
    box-shadow: none;
    width: 50px;
    position: absolute;
    font-size: 50px;
    top: -50%;
}


.removeAllSetsBtn{
    right:5px;
    top: -20px;
    font-size: 40px;
}

/* Ukryte */
.hiddenBirdsCont{
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 7px 7px 0 0;
    background-color: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.305);
}


.space{
    height: 100px;
}

.listFam{
    font-size: 12px;
}


/* LVL */

#mySets .levelBtnCont{
    margin-left: auto;
    margin-right: auto;
}