/* Dodawanie Zestawu */
.birdContainer{
    width: 100%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

/* Lista ptaków do wybrania */
.birdA{
    background-color: transparent;
    width: 90%;
    color:var(--main-text-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--main-text-color);
}

#mySets .setList{
    background-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: none;
    border-radius: 0;
}


.birdHidden{
    display: none;
    color: var(--main-text-color);
}

.inputContainer{
    display: block;
}


.inputName{
    text-align: center;
    font-size: 20px;
    color: var(--main-text-color);
}
.validationInput{
    display: none;
    text-align: center;
    color: rgb(203, 22, 1);
}

/* Save */
#saveBtn{
    color: var(--second-text-color);
}

/* Input */
#nameOfSet{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px; 
}

.addRemoveCont{
    height: 58px;
    background-color: var(--card-color);
    position: relative;
}

.addNewSetBtn, .removeAllSetsBtn{
    background-color: transparent;
    box-shadow: none;
    width: 50px;
    position: absolute;
    font-size: 50px;
    top: -50%;
}


.removeAllSetsBtn{
    right:0px;
    color: rgb(198, 26, 0);
}