/* -------------Second Page of Card-----------*/
.secondPage{
    height: 100%;
    display: none;
}

.birdName{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 30px;
    height: 65%;
}

.contSong .imgContainer, .contImage .imgContainer{
    /* margin-top: 5px; */
    position: relative;
    width: 100%;  /* Szerokość kontenera */
    height: 220px; /* Wysokość kontenera */
    border-radius: 10px 10px 0 0;
    overflow: hidden; /* Ukrycie nadmiaru obrazu */
}



.contSong .birdImg, .contImage .birdImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Wyśrodkowanie obrazu */
    /* Dopasowanie obrazu względem dłuższego boku */
    width: 100%; /* Domyślnie wypełnia szerokość */
    height: auto; /* Proporcjonalne skalowanie */
}



.ifKnow button{
    background-color: transparent;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.305);

}
.ifKnow .no, .ifKnow .yes{
    color: var(--main-text-color);
    background-color: var(--main-button-color);
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.305);
}



/* Nazwa i rodzina */
.birdNameCard{
    margin-top: 10px;
    color: var(--main-text-color);
}
.familyNameCard{
    color: var(--main-text-color);
    font-size: 16px;
    opacity: 60%;
}