:root {
    --background-color: rgb(234, 255, 234);  
    --main-button-color: rgb(202, 201, 201);
    --main-text-color: rgb(61, 61, 61);
    --second-text-color: rgb(61, 61, 61);
    --second-button-color: rgb(38, 0, 128);
    --card-color: rgb(202, 201, 201);
  }

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--background-color); /* Miętowy zielony */
    color: #000000; /* Biały piasek */
    font-weight: 600;
}

  


button{
    background-color: var(--main-button-color); /* Jasny żółty */
    color: var(--main-text-color); /* Szaro-niebieski */
    font-weight: 400;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 10px; 
    /* box-shadow: 5px 5px 5px rgba(0,0, 0, 0.5); */
}





/* Gotowe zestawy */
.readyMadeSets{
    display: none;
}




.checkSetBtnsCont{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid var(--main-text-color);
    position: relative;
}

.checkSetName{
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    
}

.checkSetBtn{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;;
    right: 0;
    transform: translate(0,-50%);
}

.checkSetBtnsCont button{
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    display: inline;
    width: 70px;
    font-size: 40px;
    
}