body{
font-family: Arial, Helvetica, sans-serif;
 margin: 0;
}

.container{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

/* ---------First Page of Card-----------*/

.firstPage{
    background-color: transparent;

}
.contSong{
    border: 3px solid black;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.check{
    background-color: aquamarine;
    text-align: center;
    border: 1px solid black;
}

.next{
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px; 
}

.icon{
    width: 40px;
    cursor: pointer;
}

.playBtn, .restartBtn{
    border: none;
    background-color: transparent;
}

.playBtn{
    width: 80%;
}

.playBtn .icon{
    width: 100%;
}

.restartBtn{
    width: 20%;
}

.restartBtn .icon{
    width: 100%;
}

/* -------------Second Page of Card-----------*/
.secondPage{
    height: 100%;
    display: none;
}

.birdName{
    font-size: 25px;
}

.birdImg{
    width: 90%;
    border-radius: 8px;
}

.ifKnow button{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.ifKnow .no{
    background-color: red;
}
.ifKnow .yes{
    background-color: rgb(8, 232, 30);
}




/* -------------------------------------- */





.contSong{
    display: none;
}

#c0{
    display: block;
}





/* Gotowe zestawy */
.readyMadeSets{
    display: none;
}


/* -------------Menu------------- */

.menu{
    width: 90%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}




.menu button, .readyMadeSets button{
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px; 

}

/* ------REPEAT------ */

.repeatCont button, .finishCont button{
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px; 
}

.finishInfo{
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.menuBtn{
    background-color: transparent;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px; 
}

/* ---Counter---- */
#counter{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}